/*// JavaScript source code*/

* {
	margin: 0;
	padding: 0;
}
.switch span {
	color: #ccc;
	font-size: 1.4rem;
	cursor: pointer;
}

.switch span.active {
	color: rgb(181, 154, 254);
	color: red;
}
.container{
	height:400px;
	width: 600px;
 	margin:150px auto;
	padding-top: 10px;
	  border-radius: 10px;           
      box-sizing: border-box; /*可以去除*/    
      /*添加阴影*/
      box-shadow: 0 0 5px 5px rgba(0,0,0,0.4);
}
.panel {
	width: 20%;
	height: 350px;
	margin: 10px auto;
}

form {
	width: 12rem;
	margin: 3rem 0 0;
}

form .input {
	position: relative;
	opacity:1;
	height: 2rem;
	width: 100%;
	margin: 2rem 0;
}

.input input {
  	outline: none;
	width: 100%;	
	font-size: 100%;
	border:none;
	border-bottom: 0.1px solid rgb(181, 154, 254);
	background: transparent;
}

.input::after {
	content: attr(placeholder);
	position: absolute;
	left: 0;
	top:0px;
	font-size: 0.9rem;
	color: #000000129101207;
	transition: .3s;
}
/*单冒号是添加伪类的，两个是添加元素*/
.input.focus::after {
	top: -80%;
	font-size: 1rem;
}

.login .signupbut {
	margin: 0;
	height: 0;
	width: 0;
	opacity: 0;
}

.signup .loginbut {
	margin: 0;
	height: 0;
	width: 0;
	opacity: 0;
}

form span {
	display: block;
	font-size: .8rem;
	cursor: pointer;
}
form button {
	border: none;
	outline: none;
	margin: 2.5rem 0 0;
	width: 100%;
	height: 3rem;
	border-radius: 3rem;
	background: linear-gradient(90deg, rgb(181, 154, 254), rgb(245, 189, 253));
	box-shadow: 0 0 8px rgb(181, 154, 254);
	cursor: pointer;
	color: white;
}
